@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
:root{
    --main-color:#ff2c1f;
    --text-color:#010202;
    --bg-color: rgb(251, 246, 246);
}
body{
    background:var(--bg-color);
    color: var(--text-color);
    background-size: 100% 100% ;
}
header{
    position: sticky;
    background-image: none;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    /*background: var(--main-color);*/
}
header.shadow {
    background: #f46767;
    box-shadow: 0 0 0 rgb(14 55 54 / 15%);
}
header.shadow .navbar a {
     color: var(--text-color);
}
header.shadow .logo {
    color: var(--bg-color);
}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    color:var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.logo .bx{
    font-size: 24;
    color: var(--bg-color);
}
.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}
.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.2s all linear;
}
.navbar a:hover::after, 
.navbar .movie-active::after {
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}
.btn{
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn:hover{
    background: rgb(77, 157, 241);
}
.movies-container {
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box .box-img{
    width: 100%;
    height: 270px;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .box-img img:hover{
    transform: scale(1.05)translateY(-10px);
    transition: 0.2s all linear;
}
.box h3{
    font-size: 0.9rem;
    font-weight: 800;
}
.box span{
    font-size: 13px;
}
@media (max-width:1000px){
    .home-text{
     padding: 0 100px;
    }
 }
 @media (max-width: 991px) {
     header{
         padding: 18px 4%;
     }
     section{
         padding: 50px 4%;
     }
     .home-text {
         padding: 0 4% ;
     }
     .home-text h1 {
         font-size: 3rem;
     }
 }
 @media (max-width: 1160px)
 {
     header{
         padding: 12px 4%;
     }
     #menu-icon{
         display: initial;
         color: var(--bg-color);
     }
     .navbar{
         position: absolute;
         top: -570px;
         left: 0;
         right: 0;
         display: flex;
         flex-direction: column;
         background: var(--bg-color);
         row-gap: 1.4rem;
         padding: 20px;
         box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
         transition: 0.2s all linear;
         text-align: center;
     }
     .navbar a {
         width: 100%;
         color: var(--text-color);
     }
     .navbar a:hover {
         color: var(--main-color);
         border-bottom: 1px solid var(--main-color);
     }
     .navbar a::after {
         display: none;
     }
     .navbar.active{
         top: 100%;
     }
     .home-text h1{
         font-size: 2.4rem;
     }
     .btn{
         padding: 0.6rem 1.2rem;
     }
     .movies-container {
         grid-template-columns: repeat(auto-fit,minmax( 200px , auto));
     }
 }
 @media (max-width: 370px){
     header{
         padding: 0 6% ;
     }
 }
 
 
 
 